name: Build develop Docker image

on:
  push:
    branches:
      - develop
    paths-ignore:
      - '.github/**'
      - README.md

jobs:
  variables-setup:
    name: Setting variables for docker build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create variables
        id: vars
        run: |
          echo "platforms=linux/amd64,linux/arm64" >> $GITHUB_OUTPUT
          echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
    outputs:
      platforms: ${{ steps.vars.outputs.platforms }}
      date: ${{ steps.vars.outputs.date }}

  call-docker-build:
    name: Call develop Docker build
    needs: variables-setup
    uses: reportportal/.github/.github/workflows/build-docker-image.yaml@main
    with:
      aws-region: ${{ vars.AWS_REGION }}
      ecr-repository: 'reportportal/reportportal-mcp-server'
      image-tag: 'develop-${{ github.run_number }}'
      additional-tag: 'develop-latest'
      version: 'develop-${{ github.run_number }}'
      date: ${{ needs.variables-setup.outputs.date }}
      build-platforms: ${{ needs.variables-setup.outputs.platforms }}
      runs-on: ubuntu-latest
    secrets: inherit
